doecerto.eastus2.cloudapp.azure.com {

    # 1. Roteamento para o Backend (NestJS)
    # Importante: O Caddy avalia por ordem ou especificidade. 
    # handle_path garante que o prefixo /api seja removido antes de chegar na API
    handle_path /api/* {
        reverse_proxy api:3501
    }

    # 2. Roteamento para o Frontend (Porta 3535)
    # O 'handle' sem path serve como um "catch-all" para o restante das rotas
    handle {
        reverse_proxy frontend:3535
    }

    # --- Configurações de Performance e Segurança ---
    encode zstd gzip
    
    header {
        # Habilita HSTS (Segurança Estrita de Transporte)
        Strict-Transport-Security "max-age=31536000;"
        # Proteção contra Clickjacking
        X-Frame-Options "DENY"
        # Previne MIME sniffing
        X-Content-Type-Options "nosniff"
    }

    # Logs de acesso para monitoramento (essencial para debugar na mão)
    log {
        output file /data/access.log
    }
}