{
    email guilhermemfranca06@gmail.com
}

(doecerto_server) {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy api:3501  # Ajustado de doecerto_api para api
    }

    handle /apk/* {
        uri strip_prefix /apk
        reverse_proxy api:3501  # Ajustado de doecerto_api para api
    }

    handle /* {
        reverse_proxy frontend:3535  # Ajustado de doecerto_frontend para frontend
    }

    encode zstd gzip
}

doecerto.eastus2.cloudapp.azure.com {
    import doecerto_server
}