{
    email guilhermemfranca06@gmail.com
}

doecerto.eastus2.cloudapp.azure.com {
    handle_path /api/* {
        reverse_proxy doecerto_api:3501
    }

    handle {
        reverse_proxy doecerto_frontend:3535
    }
}