name: doecerto

services:
  mysql:
    image: mysql:8
    restart: always
    env_file:
      - .env
      - .env.mysql
    volumes:
      - mysql_data:/var/lib/mysql
    networks: 
      - backend
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 60s

  redis:
    image: redis:7
    restart: always
    command: redis-server --save 60 1000 --appendonly yes --maxmemory 512mb --maxmemory-policy allkeys-lru
    networks:
      - backend
    volumes:
      - redis_data:/data

  api:
    image: guilhermemth/doecerto-api:sistemas-distribuidos
    restart: always
    env_file:
      - .env
      - .env.api
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks: 
      - backend
    ports:
      - "3000:3000"
    labels:
      - com.centurylinklabs.watchtower.enable=true
    volumes:
      - uploads_profiles:/app/uploads/profiles
      - uploads_payments:/app/uploads/payment-proofs
      - api_logs:/app/logs

  frontend:
    image: guilhermemth/doecerto-frontend:sistemas-distribuidos
    restart: always
    depends_on:
      - api
    networks:
      - backend
    labels:
      - com.centurylinklabs.watchtower.enable=true

  nginx:
    image: nginx:alpine
    restart: always
    depends_on:
      - frontend
      - api
    networks:
      - backend
      - frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - certbot_etc:/etc/letsencrypt:ro
      - certbot_www:/var/www/certbot:ro

  certbot:
    image: certbot/certbot:latest
    volumes:
      - certbot_etc:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  watchtower:
    image: containrrr/watchtower:latest
    restart: always
    environment:
      - DOCKER_API_VERSION=1.44
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: > 
      --interval 30
      --cleanup
      --label-enable
      
networks:
  backend:
  frontend:

volumes:
  mysql_data:
  redis_data:
  uploads_profiles:
  uploads_payments:
  api_logs:
  certbot_etc:
  certbot_www: