# O Caddy usa a variável de ambiente definida no docker-compose
# Ex: https://doecerto.brazilsouth.cloudapp.azure.com
{$MY_DOMAIN} {

    # Roteamento para o Frontend (Next.js/React)
    # Assume que o container do frontend ouve na porta 3000
    reverse_proxy frontend:3535

    # Roteamento para o Backend (NestJS)
    # Redireciona tudo que começa com /api para o container 'api' na porta 3501
    handle_path /api/* {
        reverse_proxy api:3501
    }

    # Configurações de Performance e Segurança
    encode zstd gzip
    
    header {
        # Habilita HSTS (Segurança Estrita de Transporte)
        Strict-Transport-Security "max-age=31536000;"
        # Proteção contra Clickjacking
        X-Frame-Options "DENY"
        # Previne MIME sniffing
        X-Content-Type-Options "nosniff"
    }

    # Logs de acesso para monitoramento
    log {
        output file /data/access.log
    }
}